.pokemons { 
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .825rem;
    font-weight: 500;
}

.pokemon .name {
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    margin: .3rem 0;
    padding: .5rem .25rem;
    font-size: .825rem;
    font-weight: 500;
    border-radius: 0.8rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    align-self: flex-end;
    max-width: 100%;
    height: 150px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.loadMoreButton {
    padding: .75rem .75rem;
    border: none;
    border-radius: 1rem;
    background-color: #FE1515;
    color: white;
    font-size: .825rem;
    font-weight: bold;
    cursor: pointer;
}

.loadMoreButton:hover {
    background-color: #FE2535;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}